/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* Styles généraux */
:root {
	--primary: #F16822;
	--font-color: #333333;
}

/* Familles génériques de police : serif, sans-serif, monospace, cursive, fantasy */
body {
	font-family: "Montserrat", sans-serif;
	color: var(--font-color);
	font-size: 1.6rem;
	line-height: 1.5;
    text-align: center;
	background-color: #fff;
}

/* Layout */

/* Unités : px, rem, em, %, vw, vh, vmin vmax, cm, mm, ch */
.container {
	width: 100%;
	max-width: 131rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.services,
.description,
.publications,
.statistics,
.user-review {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 4.8rem;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    line-height: 1.33;
}

.square {
    display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-bottom: 3.2rem;
    height: 10px;
    width: 10px;
    /* background-color: #555; */
}

.square-grey {
    background-color: #333333;
}

.square-orange {
    background-color: var(--primary);
}

.square-white {
    background-color: #eee;
}


/* Points de rupture de BootStrap : 0 <= X-small < 576 <= small < 768 <= medium < 992 <= large < 1200 <= X-large < 1400 <= XX-large 

Dans notre cas, XX-large ne sera pas utilisé 
Largeur du container dans les différents cas
^
X-large : container = 1170px 
^
large : container = 962px
^
medium : container = 738px
^
small : container = 546px
^
x-small : container = 100%
*/

@media screen and (min-width: 36em) { /* 36em = 36 * 16 (base navigateur) = 576px */
	.container {
		max-width: 54.6rem;
	}
}

@media screen and (min-width: 48em) { /* 768px */
	.container {
		max-width: 73.8rem;
	}
}

@media screen and (min-width: 62em) { /* 992px */
	.container {
		max-width: 96.2rem;
	}
}

@media screen and (min-width: 75em) { /* 1200px */
	.container {
		max-width: 117rem;
	}
}

/* Header */

.main-header {
	/*color: #fff;*/
    position: relative;
	background-color: #fff;
}

.main-header .container {
	display: flex;
    justify-content: space-between;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.logo-item {
    display: flex;
    color: #707070;
    font-family: "Raleway", sans-serif;
}

.logo-item h1 {
    font-size: 2rem;
}

.logo-item p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
}

.logo {
	width: 7rem;
	height: 4.8rem;
	background-image: url(../img/LOGO.svg);
	/*background-size: contain;
	background-position: center;*/
}

.logo-text {
    padding-left: 1.8rem;
    text-align: left;
}


/* Navigation */
[hidden] {
	display: block;
	visibility: hidden;
}

.toggle-menu {
	background-color: #fff;
	padding: 1.5rem;
	border: 0;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.28;
    font-weight: 700;
    
}

.menu {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    /* display: flex; */
    justify-content: space-between;
    background-color: #fff;
    transform: translateX(-100%);
	transition: .5s;
    
    /* width: 43.6rem; */
}

.menu:not([hidden]) {
	transform: translateX(0);
	/* transition: visibility .001s, transform .5s .001s ease-in; */
}

@media screen and (min-width: 48em) {
	.toggle-menu {
		display: none;
	}

	.menu {
		display: flex;
		position: static;
		visibility: visible;
		transform: translateX(0);
	}
}

.menu-link {
    display: block;
    padding: 1.5rem 2rem;
    margin: .5rem;
    font-size: 1.4rem;
    line-height: 1.28;
    font-weight: 700;
    text-decoration: none;
    color: currentColor;
    text-transform: uppercase;
    transition: .3s;

}

.menu-link:hover,
.menu-link:focus,
.toggle-menu:hover,
.toggle-menu:focus {
    background-color: var(--primary);
    color: #fff;
    transition: .3s;
}

/* Hero */
.hero {
    display: flex;
	align-items: center;
    min-height: 80vh;
    padding-top: 5rem;
	padding-bottom: 5rem;
	background-image: url(../img/bg-slider-01.jpg);
	background-size: cover;
	background-position: center;
}

@media (min-resolution: 144dpi) {
	.hero {
		background-image: url(../img/bg-slider-01@2x.jpg);
	}
}

.hero .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* max-width: 128rem; */
}

.hero h2 {
    font-family: "Raleway", sans-serif;
    color: var(--primary);
    font-size: 4.4rem;
    line-height: 1.17;
    font-weight: 700;
}

.hero p {
    font-size: 2.2rem;
    line-height: 1;
}

.hero-switch {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (min-width: 36em) {
	.hero h2 {
        font-size: 5.2rem;
    }
    .hero p {
        font-size: 2.7rem;
    }
}

@media screen and (min-width: 48em) {
	.hero h2 {
        font-size: 6.4rem;
    }
    .hero p {
        font-size: 3.2rem;
        max-width: 104.8rem;
    }
}

@media screen and (min-width: 75em) {
	.hero-switch {
		padding-top: 0;
        padding-bottom: 0;
	}

}

/* Services */
.services {
	background-color: #fff;
}

.services .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
    gap: 5rem 1rem;
    margin-top: 5rem;
}

@media screen and (min-width: 36em) {
	.services-grid  {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 62em) {
	.services-grid  {
		grid-template-columns: repeat(4, 1fr);
	}
}

.service-card p {
    font-size: 1.4rem;
}

.service-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12.5rem;
	height: 12.5rem;
	margin-left: auto;
    margin-right: auto;
	background-color: #EEEEEE;
	border-radius: 50%;
}

/* Description */

.description {
    background-image: url(../img/bg-bokehback.jpg);
	background-size: cover;
	background-position: center;
    padding-bottom: 0;

}
.description .container {
    padding-top: 5rem;
}

.description h2 {
    color: var(--primary);
}

.description p {
    color: #eee;
    margin-bottom: 12rem;
    max-width: 104rem;
    margin-left: auto;
    margin-right: auto;
}

.description img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* Publications */
.publications {
    background-color: #F9F9F9;
    /* padding-top: 17rem;
    padding-bottom: 18rem; */
}

.publications .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.publications-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10rem 4rem;    /* ligne / colonne */
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}


.publications p {
    max-width: 104rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 12rem;
}

.publication-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 5.5rem;
    max-width: 40rem;
    /*max-height: 60.2rem; */
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0rem 0.3rem 0.6rem  #00000029;
}

.publication-card h3 {
    color: var(--primary);
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

.publication-card p {
    font-size: 1.6rem;
    margin-top: auto;
    margin-bottom: 0;
    line-height: 1.5;
}

@media screen and (min-width: 48em) {
    .publications-grid  {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 62em) {
    .publications-grid  {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Fun facts */
.statistics {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/bg-fun-facts.jpg);
	background-size: cover;
	background-position: center;
}

.statistics .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.statistics-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2rem;
}

.statistic-item {
    text-align: center;
}

@media screen and (min-width: 36em) {
	.statistics-list  {
		grid-template-columns: repeat(3, 1fr);
        gap: 4rem 2rem;
	}
}

@media screen and (min-width: 62em) {
	.statistics-list  {
		grid-template-columns: repeat(6, 1fr);
        gap: 4rem 2rem;
	}
}

.statistic-number {
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.21;
}

.statistic-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.33;
    text-transform: uppercase;
}


/* User reviews */
.user-review {
    background-image: url(../img/bg-user-review.jpg);
	background-size: cover;
	background-position: center;
}

 .user-review .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.user-review-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;

}


.user-review-card img {
    border-radius: 50%;
    min-width: 22rem;
    margin-left: auto;
    margin-right: auto;
}

.user-review-txt {
    color: #FFF;
    text-align: center;
}

.user-review-txt h2 {
    line-height: 1.16;
    padding-bottom: 2.4rem;
}

@media screen and (min-width: 48em) {
    .user-review-card  {
        grid-template-columns: 1fr 5fr;;
    }

    .user-review-txt {
        text-align: left;
    }
}

/* Footer */

.main-footer {
    background-color: #333333; 
}

.main-footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 2rem;
    text-align: left;
    color: #CCCCCC;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (min-width: 48em) {
	.main-footer .container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 75em) {
	.main-footer .container {
		grid-template-columns: repeat(4, 1fr);
	}
}

.main-footer h3 {
    color: var(--primary);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0;
    padding-top: 0;
}

.footer-item {
    display: grid;
    padding-top:5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    align-items: start;
    gap: 2rem;
    border: 1px solid blue
}

.footer-item a {
    color: #CCCCCC;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.footer-list-item a:hover {
    color: var(--primary);
}

ul.footer-list {
    list-style-position: inside;
}

ul.footer-list li {
    padding-left: 2rem;
    line-height: 2.05;
    background-image: url(../img/icon-angle-double-right.svg);
    background-position: 0 center;
    background-size: 1.0572rem;
    background-repeat: no-repeat;
  }

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.tags-list-item {
    padding-bottom: 1.2rem;
}

.tag-link {
    padding: 0.5rem 1.2rem 0.4rem 1.2rem;
    background-color: #444444;
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.tag-link:hover {
    color: #fff;
    background-color: var(--primary);
    transition: 0.3s;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    height: 100%;
}

.contact-list-item {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    font-size: 2rem;
    color: #CCCCCC;
    padding-bottom: 1rem;
}

.contact-list-item img {
    padding-right: 1rem;
    padding-top: 0.4rem;
    max-width: 3.5rem;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #707070;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    grid-column: 1 / -1;
}

.footer-social p {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #777777;
    font-size: 2.4rem;
}

ul.social-list {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 36em) {
	ul.social-list {
        flex-direction: row;
    }
}

.social-list-item img {
    margin-left: 2.6rem;
    margin-bottom: 0.5rem;
    min-height: 3rem;
}
